aws_account_id       = "123456789012"
bucket_name          = "sdl-immersion-day-123456789012"
region               = "eu-west-1"
environment          = "dev"
firehose_stream_name = "sdl-firehose-stream"
database_name        = "sdl-database"
table_name           = "raw"
crawler_name         = "sdl-crawler"
glue_job_name        = "transform-json-to-parquet"
trigger_name         = "etl_trigger"
function_name        = "etlLambdaFunction"
execution_role       = "lambda_execution_role"
filepath             = "../py_scripts/lambda_function/transformation_generator.zip"
